* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}
.outer {
  margin: 0 auto;
  max-width: 480px;
}
.actions {
  margin-bottom: 1em;
}
.logo {
  background: url('/img/react.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2em;
  margin: 0 auto .75em;
  width: 1.5em;
}
.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}
.title .turq {
  color: #00d8ff;
}
.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}
.details {
  overflow: hidden;
  margin-top: 1em;
}
.details .name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  vertical-align: middle;
}
.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
  margin-top: 1em;
}
@media (max-width:500px) {
  .details, .message {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .details .name {
    font-size: 1.2em;
    padding-left: 0;
  }
  body {
    margin: 2em 0 4em 0;
  }
}